body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 30px;
}

h1 {
  margin: 0;
}

.shoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px; /* Ширина контейнера для центрирования */
}

.shoe {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.shoe img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.shoe h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.shoe p {
  font-size: 14px;
  line-height: 1.5;
}
